*,
*:after,
*:before {
	box-sizing: border-box;
}

$primary-color: #00005c; 
$text-color: mix(#000, $primary-color, 64%);

/*
body {
	font-family: "Inter", sans-serif;
	color: $text-color;
	font-size: calc(1em + 1.25vw);
	background-color: mix(#fff, $primary-color, 90%);
}
*/

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

label {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
	/* Accessible outline */
	/* Remove comment to use */ 
	/*
		&:focus-within {
				outline: .125em solid $primary-color;
		}
	*/
	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			background-color: mix(#fff, $primary-color, 84%);
			&:before {
				box-shadow: inset 0 0 0 0.4375em $primary-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0.75em 0.375em 0.375em;
		border-radius: 99em; // or something higher...
		transition: 0.25s ease;
		&:hover {
			background-color: mix(#fff, $primary-color, 84%);
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em $primary-color;
		}
	}
}

body {
    /*
    color: #FAEEEB;
    background-color: #111111;
    */
    }

.hz-container{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: transparent;
    height: 40px;
    padding-right: 30px;
    filter: invert(1);
    mix-blend-mode: difference;
}

.date{
    color: black;
    text-align: center;
    width: 20px;
    /*
    border: black;
    border-style: double;
    */
    font-style: italic;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.date-text{
    color: black;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-single{
    display: flex;
    position: relative;

}

.container-radiobuttons{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    /* cursor: pointer; */
    font-size: 20px;
}

/* container */
.div-summary-songs {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* image gallery */
.ul-songs-summary{
    /*
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    */
    text-align: center;
}

.ul-songs-summary > li {
    /*
    flex-basis: 350px;
    */
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 0 5px 10px 5px;
    position: relative;
    cursor: pointer;
}

@supports (display: flex) {
.ul-songs-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    }

.ul-songs-summary > li {
    flex-basis: 350px; /* width: 350px */
    margin: 0;
    }
.ul-songs-summary::after {
    content: "";
    flex-basis: 350px;
    }
}

.ul-songs-summary li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

/* overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(57, 57, 57, 0.502);*/
    top: 0;
    left: 0;
    transform: scale(0);
    /*transition: all 0.2s O.1s ease-in-out;*/
    color: black;
    text-shadow: 1px 1px 0px rgba(255,255,255,0);
    /*
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    */
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 200%;
}

/* hover */
.ul-songs-summary li:hover .overlay {
    transform: scale(1);
}

.ul-songs-summary li:hover img {
    opacity: 0.2;
    transition: 0.5s;
    /*transform: scale(1);*/
}

/* restyle radio items */
.radio-group{
/*  display: inline-block; */
  /*
  margin-left: 5px;
  margin-right: 5px;
  */
  margin-top: 5px;
  display: inline-block;
}

.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  display: inline-block;
}

.inp-summary{
    width: 5em;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    /* filter: contrast(200%); */
}

.date-buttons{
    margin-top: 5px;
    margin-right: 5px;
}

.create-playlist-button{
    margin-left: 10px;
    margin-bottom: 8px;
    display: inline-block;
}

.custom-tabs-container{
    margin-top: 5px;
    /*background: transparent; */
}

.custom-tabs{
    background: transparent;
}